*{ 
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    
}

#sidebar {
	/*Strictly Necessary */
	position:fixed; 
	height: 100%;
	width:15%;
	margin: 0px;  

  /*Aesthetics*/
  background: #1992d4;
}


#mainHeader {
	/*Strictly Necessary */
	width:85%; 
	float: right;
	/*Aesthetics*/
}

header {
	/*Strictly Necessary */
	position: fixed;
	width: 85%;	
	height: 150px; /*Adjust the hight to your purposes*/
	
	/*Aesthetics*/
	background: white;
	
}

.contentBox{
	margin-top: 150px; /*The height of the   header*/
	display:block;
	flex-flow: row wrap;
    float: right;
    width: 85%;
    
} 

.container {  
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: 100px;
    justify-content: left;
    gap: 2rem 2rem;
  }
  
  .container {
    width: 100%;
    max-width: 37.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .item {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: hsl(300deg 23% 97%);
    background-image: linear-gradient(hsl(7deg 100% 64%),hsl(7deg 100% 64%)), linear-gradient(hsl(301deg 100% 15%),hsl(301deg 100% 15%));
    background-size: 50px 10px, 60px 10px;
    background-position: 20px 40px, 20px 60px;
    background-repeat: no-repeat;
  }
main {
    /*Aesthetics*/
	 background: #e2e8f0; 
	 padding: 20px;
     position:fixed;
     width: 100%;
}

main {

  height: 100vh;
  order: 1;
  flex: 1 1 auto; 
	
}